<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="news-feed-btn" th:fragment="pagination">
    <ul>
        <li><a href="#"><b class="fa fa-angle-left"></b></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">15</a></li>
        <li><a href="#"><b class="fa fa-angle-right"></b></a></li>
    </ul>
</div>