<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section id="audio-player" th:fragment="player">
    <div class="container">
        <div class="rock-player">

            <div style="padding:30px;">
                <sam-widget type="player" station-id="135944"
                            token="5a2ccd710bc0a296b500394d98612a718adb5f41"
                            anim-type='focus-in-expand' easing='ease-in-out-back' refresh-interval='30s'
                            theme-border-radius='rounded' image-border-radius='rounded' theme='{"backgroundTop":"#474747","backgroundBottom":"#474747","widgetBorder":"#5f5f5f","dividers":"#5f5f5f","buttons":"#bebebe","text":"#bebebe"}'>
                </sam-widget>
            </div>

        </div>
            <!--row-->
        </div>
    </div>
</section>
