<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head th:replace="layouts/layout2 :: head" />
<style>
  .sub-banner{
    background: url(../images/slides/submenu/diccionario.jpg) center center fixed no-repeat;
  }
  .sub-banner .container h2{
  color:;
  }
</style>
<body>

<!-- Page Wrap -->
<div id="wrap">
    <div id="main-wrapper">
        <header th:replace="layouts/layout2 :: header">
        </header>

        <section class="sub-banner">
            <div class="container">
                <div class="position-center-center">
                    <h2>DICCIONARIO</h2>

                </div>
            </div>
        </section>

        <!--======= ABOUT SECTION =========-->
        <section class="sectoion-100px about">
            <div class="container">
                <!-- Tittle -->
                <div class="tittle">
                    <h4>Contenido here</h4>
                    <p>type something...</p>
                </div>
            <a th:href="@{/load-dicc-form}">Add Diccionario</a>
            </div>
        </section>

    </div>
</div>
<!-- Wrap End -->

<div th:replace="layouts/layout2 :: footer"></div>
</body>
</html>